services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Plugix\PimcoreBundle\:
        resource: '../../*'
        exclude:
            - '../../DependencyInjection/'
            - '../../Resources/'
            - '../../Tests/'

    # API Client
    Plugix\PimcoreBundle\Service\PlugixClient:
        arguments:
            $apiKey: '%plugix.api_key%'
            $apiUrl: '%plugix.api_url%'
            $platform: '%plugix.platform%'
        public: true

    # MCP Service
    Plugix\PimcoreBundle\Service\McpService:
        arguments:
            $enabled: '%plugix.mcp.enabled%'
            $autoConnect: '%plugix.mcp.auto_connect%'
            $reconnectInterval: '%plugix.mcp.reconnect_interval%'
        public: true

    # Commands
    Plugix\PimcoreBundle\Command\McpStartCommand:
        tags:
            - { name: console.command }
